/* collapsible_section.css */

.collapsible-section {
    border-radius: var(--border_radius);
    margin: 10px;
    border: 1px solid var(--border_color);
    padding: 10px;
  }
  
  .collapsible-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid var(--border_color);
  }
  
  .collapsible-header.collapsed {
    border-bottom: unset;
  }
  
  .collapsible-content {
    display: grid;
    grid-gap: 10px;
    overflow-y: auto;
    /* padding: 0.5rem; */
  }
  
  .collapsible-header button {
    margin-left: auto;
  }
  