/* buttons.css */

/* Painikkeiden yleiset tyylit */

/* "Lisää Rivi" -painikkeen tyylit */
/* .add_row_button {
    background-color: var(--button_bg_color);
    color: var(--button_text_color);
    border: 1px solid var(--border_color);
    padding: 8px 16px;
    cursor: pointer;
    border-radius: var(--border_radius_small);
    margin: 10px 0;
    transition: background-color 0.3s, transform 0.1s;
} */

/* .add_row_button:hover {
    background-color: var(--button_hover_bg_color);
    color: var(--button_hover_text_color);
}

.add_row_button:active {
    transform: scale(var(--button_pressed_scale));
} */
