/* variables.css */

/*     max-width: calc(var(--navbar_width) - var(--navbar_padding) * 2); */
:root {
    --navbar_padding: 10px;
    --navbar_width: 300px;
    --border_radius: 7px;
    --border_radius_small: 4px;
    /* --filterbar_width: 450px; */
}

/* CSS-muuttujat ja teemat */
:root {
    --bg_color: #f0f0f0;
    --bg_color_2: #eee;
    --text_color: #000000;
    --border_color: #888;
    --table_border_color: #cccccc;
    --input_bg_color: #fff;

    /* Painikkeiden tyylit vaaleassa teemassa */
    --button_bg_color: #ccc;
    --button_text_color: #000;
    --button_hover_bg_color: #888888;
    --button_hover_text_color: #ffffff;

    /* Aktiivisen ja painetun painikkeen tyylit */
    --button_active_bg_color: #fff;
    --button_active_text_color: #000;
    --button_active_border_color: #444444;
    --button_pressed_scale: 0.98;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg_color: #1a1a1a;
        --bg_color_2: #0a0a0a;
        --text_color: #fff;
        --border_color: #888;
        --table_border_color: #444444;
        --input_bg_color: #111;

        --button_bg_color: #333;
        --button_text_color: #fff;
        --button_hover_bg_color: #222222;
        --button_hover_text_color: #fff;

        --button_active_bg_color: #222;
        --button_active_text_color: #fff;
        --button_active_border_color: #555;
    }
}