.navtablinks {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0 3px;
    position: relative;
  }
  /* .navtablinks.active {
    outline: 2px solid blue;
  } */
  .svg-container {
    width: 250px;
    height: 63px;
  }
  .tab_button_text {
    position: absolute;
    left: 50px;
    top: 22px;
    font-size: 16px;
  }




  .svg-container path {
    transition: d 0.3s ease;
    /* , fill 0.3s ease; */
}