.vanilla-shortener {
    position: relative;
    overflow: auto;
    /* transition: max-height 0.3s ease-in-out;   */
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  
    padding-bottom: 3rem;
  }
  
  .vanilla-shortener.expanded {
    overflow: auto;
  }
  
  .absolute-toggle-bar {
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    
    padding: 0.5rem 0.75rem;
    background-color: var(--bg_color, #f8f8f8);
    border-top: 1px solid #ccc;
    z-index: 10;
  }
  
  .vanilla-shortener-toggle {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    color: #0066cc;
  }
  