<!-- login.html -->
<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Kirjaudu sisään</title>
    <link rel="stylesheet" href="/core_components/auth/auth.css">
    <script type="module" src="/core_components/auth/login.js"></script>
</head>
<body>
    <!-- Poista onsubmit-eventin käyttö -->
    <form method="POST" action="/login">
        <h2>Kirjaudu sisään</h2>
        <label for="username">Käyttäjätunnus:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Salasana:</label>
        <input type="password" id="password" name="password" required>
        
        <!-- Piilotettu kenttä fingerprintille -->
        <input type="hidden" id="fingerprint" name="fingerprint">
        
        <div id="submit">
            <input type="submit" value="Kirjaudu">
        </div>
    </form>
</body>
</html>
