/* base.css */

/* base.css */
* {
    font-family: Arial, sans-serif;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    margin: 0;
    color: var(--text_color);
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: normal;
}

body {
    background-color: color-mix(in srgb, var(--bg_color) 50%, var(--bg_color_extreme) 50%);
    overflow: hidden;
}

.body_wrapper {
    overflow: hidden;
}

/* Yleiset perustyylit */
.body_content {
    height: 100vh;
    background-color: var(--bg_color);
    color: var(--text_color);
    margin: auto;
    position: relative;
    grid-column: 2;
    max-width: 2560px;
}

#tabs_container {
    transform: translateX(var(--navbar_width));
    width: calc(100% - var(--navbar_width));
    /* transition: transform 0.3s, width 0.3s; */
}

#tabs_container.navbar_hidden {
    width: 100%;
    transform: unset;
}

.hidden {
    display: none !important;
}

input {
    box-sizing: border-box;
}

input:focus {
    outline: 2px solid var(--border_color) !important;
}

@media (prefers-color-scheme: dark) {
    input {
        background-color: var(--input_bg_color);
        color: var(--text_color);
    }
}

/* Dropdown-tyylit */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown-button {
    border: 1px solid var(--border_color);
    cursor: pointer;
    background-color: var(--bg_color);
    min-width: 150px;
    box-sizing: border-box;
}

.custom-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg_color);
    min-width: 200px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid var(--border_color);
    z-index: 1;
    padding: 10px;
    box-sizing: border-box;
}

.custom-dropdown-content.show {
    display: block;
}

.custom-search-box {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.custom-checkbox-container {
    max-height: 250px;
    overflow-y: auto;
}

.custom-dropdown-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

/* .table_parts_container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 450px;
} */
.table_parts_container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 450px;
    /* Oletus: taulukko + filterBar */
    /* transition: grid-template-columns 0.3s ease; */
    /* Animaatio gridin muutokselle */
}

.table_parts_container>div {
    overflow: auto;
}

.transparent {
    opacity: 0;
}

textarea {
    background-color: var(--input_bg_color);
    color: var(--text_color);
    font-size: 1rem;
    width: 100%;
}

.auto_resize_textarea {
    background-color: var(--input_bg_color);
    color: var(--text_color);
    resize: vertical;
    box-sizing: border-box;
    line-height: 1.4em;
    min-height: 1.4em;
    width: 100%;
}

.input-group {
    position: relative;
    display: grid;

}

.input-group input[type="text"]+label,
.input-group textarea+label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.2s;
    background-color: var(--bg_color);
    padding: 0 5px;
    background-color: var(--bg_color_2);
    border: 1px solid var(--border_color);
    border-radius: var(--border_radius_tiny);
}

.input-group input[type="number"]+label,
.input-group input[type="date"]+label,
.input-group select+label {
    position: absolute;
    top: -0.6em;
    left: 10px;
    transform: none;
    font-size: 14px;
    color: var(--text_color);
    background-color: var(--bg_color_2);
    border: 1px solid var(--border_color);
    border-radius: var(--border_radius_tiny);
    padding: 0 5px;
    transition: none;
    pointer-events: none;
}

.input-group input,
.input-group textarea,
.input-group select {
    width: 100%;
    padding: 10px;
    outline: 1px solid var(--border_color);
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--bg_color_text);
    height: 32px;
}

.input-group select {
    border-right: 10px solid transparent !important;
}

.input-group input[type="text"]:focus+label,
.input-group input[type="text"]:not(:placeholder-shown)+label {
    top: 0;
    font-size: 14px;
    color: var(--text_color);
}

/* .input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label,
.input-group textarea:focus+label,
.input-group textarea:not(:placeholder-shown)+label {
    top: 0;
    font-size: 12px;
    color: var(--text_color);
} */

.no-float+label {
    position: static;
    transform: none;
    font-size: inherit;
    color: inherit;
    transition: none;
}

.no-float:focus+label,
.no-float:not(:placeholder-shown)+label {
    position: static !important;
    transform: none !important;
    font-size: inherit !important;
    color: inherit !important;
}

.filter-elements-container {
    display: grid;
    gap: 10px;
    background-color: var(--bg_color);
}

.chat-bubble details {
    padding: 10px;
    border: 1px solid var(--border_color);
    max-height: 200px;
    overflow: auto;
    border-radius: var(--border_radius_small);
}

.chat-bubble summary {
    border-bottom: 1px solid var(--border_color);
}

summary {
    cursor: pointer;
}

.sort_button {
    margin: 5px;
}

.column_management_forms input[type="text"] {
    font-size: 16px;
    font-weight: bold;
}

.content_div {
    height: 100vh;
}

.input-group {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.row-container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 50px auto;
    padding: 2px;
}

.combined-filter-sort-container {
    display: grid;
    gap: 0.5rem;
    padding: 8px 0 0 0;
}