/* variables.css */

/*     max-width: calc(var(--navbar_width) - var(--navbar_padding) * 2); */
:root {
    --navbar_padding: 8px;
    --navbar_width: 300px;
    --border_radius: 7px;
    --border_radius_small: 4px;
    /* --filterbar_width: 450px; */

    --bg_color: #ccc;
    --bg_color_2: #f0f0f0;
    --bg_color_text: var(--extreme_bg);
    --text_color: #000;
    --border_color: #bbb;
    --table_border_color: #ccc;
    --input_bg_color: #fff;

    /* Painikkeiden tyylit vaaleassa teemassa */
    --button_bg_color: #ccc;
    --button_text_color: #000;
    --button_hover_bg_color: #888;
    --button_hover_text_color: #fff;

    /* Aktiivisen ja painetun painikkeen tyylit */
    --button_active_bg_color: #fff;
    --button_active_text_color: #000;
    --button_active_border_color: #444;
    --button_pressed_scale: 0.98;

    --blended_bg: rgb(0 0 0 / 15%);
    --extreme_bg: rgb(255 255 255);
    --blended_bg_2: color-mix(in srgb, var(--bg_color) 80%, var(--extreme_bg) 20%);
}

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox */
* {
    /* Voit myös käyttää * jos haluat globaalin vaikutuksen */
    scrollbar-color: #aaa #f1f1f1;
}


@media (prefers-color-scheme: dark) {
    :root {
        --bg_color: #1a1a1a;
        --bg_color_2: #0a0a0a;
        --bg_color_text: var(--extreme_bg);
        --text_color: #fff;
        --border_color: #333;
        --table_border_color: #444;
        --input_bg_color: #111;

        --button_bg_color: #333;
        --button_text_color: #fff;
        --button_hover_bg_color: #222;
        --button_hover_text_color: #fff;

        --button_active_bg_color: #222;
        --button_active_text_color: #fff;
        --button_active_border_color: #555;

        --blended_bg: rgb(255 255 255 / 20%);
        --extreme_bg: rgb(0 0 0);
        --blended_bg_2: color-mix(in srgb, var(--bg_color) 80%, var(--extreme_bg) 20%);
    }

    /* WebKit (Chrome, Safari) */
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #2b2b2b;
    }

    ::-webkit-scrollbar-thumb {
        background: #555;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #777;
    }

    /* Firefox */
    * {
        scrollbar-color: #555 #2b2b2b;
    }
}



/* Vaalea teema */
body.light-mode {
    --bg_color: #ccc;
    --bg_color_2: #f0f0f0;
    --bg_color_text: var(--extreme_bg);
    --text_color: #000;
    --border_color: #bbb;
    --table_border_color: #ccc;
    --input_bg_color: #fff;

    --button_bg_color: #ccc;
    --button_text_color: #000;
    --button_hover_bg_color: #888;
    --button_hover_text_color: #fff;

    --button_active_bg_color: #fff;
    --button_active_text_color: #000;
    --button_active_border_color: #444;
    --button_pressed_scale: 0.98;

    --blended_bg: rgb(0 0 0 / 15%);
    --extreme_bg: rgb(255 255 255);
    --blended_bg_2: color-mix(in srgb, var(--bg_color) 80%, var(--extreme_bg) 20%);
    --add_row_form_box_shadow: 0 2px 60px 30px rgb(0 0 0 / 30%);
}

/* Scrollbar-vaalealle teemalle (WebKit) */
body.light-mode ::-webkit-scrollbar {
    width: 12px;
}
body.light-mode ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
body.light-mode ::-webkit-scrollbar-thumb {
    background: #aaa;
}
body.light-mode ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Scrollbar-vaalealle teemalle (Firefox) */
body.light-mode * {
    scrollbar-color: #aaa #f1f1f1;
}

/* Tumma teema */
body.dark-mode {
    --bg_color: #1a1a1a;
    --bg_color_2: #0a0a0a;
    --bg_color_text: var(--extreme_bg);
    --text_color: #fff;
    --border_color: #333;
    --table_border_color: #444;
    --input_bg_color: #111;

    --button_bg_color: #333;
    --button_text_color: #fff;
    --button_hover_bg_color: #222;
    --button_hover_text_color: #fff;

    --button_active_bg_color: #222;
    --button_active_text_color: #fff;
    --button_active_border_color: #555;

    --blended_bg: rgb(255 255 255 / 20%);
    --extreme_bg: rgb(0 0 0);
    --blended_bg_2: color-mix(in srgb, var(--bg_color) 70%, var(--extreme_bg) 30%);
    --add_row_form_box_shadow: 0 2px 60px 30px rgb(0 0 0 / 50%);
}

/* Scrollbar-tummalle teemalle (WebKit) */
body.dark-mode ::-webkit-scrollbar {
    width: 12px;
}
body.dark-mode ::-webkit-scrollbar-track {
    background: #2b2b2b;
}
body.dark-mode ::-webkit-scrollbar-thumb {
    background: #555;
}
body.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* Scrollbar-tummalle teemalle (Firefox) */
body.dark-mode * {
    scrollbar-color: #555 #2b2b2b;
}